@charset "utf-8";
/* 
Title: index.html Style
By: Wiltre Santiago 
For: VFW Project 2 
*/

h1 {
	margin: 20px;
	border: 0px solid black;
	background:#CCC
}

p {
	border: 1px solid gray;
	color: red;
	font-style: Italic;
	font-family: Arial, "Times New Roman", serif;
	font-weight: bold ;
}

h2 {
	border: 1px solid gray;
	background: black;
	color: white;
	font-style: Italic;
	font-family: Arial, "Times New Roman", serif;
	font-weight: bold ;
}

#additem {
	border: 1px solid black;
	background: black;
	color: white;
}

