h1{
	height : 60px;
	overflow : hidden;
	position : relative;
	top : 10px;
	width : 299px;
	background-color : #BDBFC1;
	border: 1px dotted #666666;
	text-align: center;
	margin-left: auto ;
  	margin-right: auto ;
	clip: rect(auto,auto,auto,auto);
}

p{
	background-color : #BDBFC1;
	height : 112px;
	width : 299px;
	margin-left: auto ;
  	margin-right: auto ;
	text-align: center;
	overflow : hidden;
	position : relative;
	top : 15px;
	color : #575756;
	font-family : Arial,sans-serif;
	font-size : 14px;
}
	

#startApp{
	height : 50px;
	left : 40px;
	overflow : hidden;
	position : absolute;
	top : 210px;
	width : 240px;
	-khtml-border-radius : 5px;
	-moz-border-radius : 5px;
	-webkit-border-radius : 5px;
	background-color : #575756;
	border-radius : 5px;
	color : #ffffff;
	font-family : Arial,sans-serif;
	font-size : 30px;
	padding : 0;
}
h2{
	margin-left: auto ;
  	margin-right: auto ;
	text-align: center;
	height : 40px;
	overflow : hidden;
	position : relative;
	top : 100px;
	width : 299px;
	color : #575756;
	font-family : Arial,sans-serif;
	font-size : 14px;
	
}