h1{
	height : 70px;
	left : 8px;
	overflow : hidden;
	position : absolute;
	top : 10px;
	width : 461px;
	background-color : #dadada;
	border-color : #878787;
	border-style : none;
	border-width : 1px;
}

#textEditArea{
	height : 152px;
	left : 8px;
	overflow : hidden;
	position : absolute;
	top : 80px;
	width : 292px;
	color : #575756;
	font-family : Arial,sans-serif;
	font-size : 14px;
	margin : 0;
	padding : 4px;
	text-align : left;
}

#demoImg{
	height : 150px;
	width : 160px;
	overflow : hidden;
	position : absolute;
	left : 310px;
	top : 85px;
}

h2{
	height : 40px;
	left : 8px;
	overflow : hidden;
	position : absolute;
	top : 240px;
	width : 461px;
	background-color : #b2b2b2;
	border-color : #878787;
	border-style : none;
	border-width : 1px;
}


#startApp{
	margin-left: 140px;
	height : 40px;
	left : 10px;
	overflow : hidden;
	position : absolute;
	top : 290px;
	width : 150px;
	-khtml-border-radius : 5px;
	-moz-border-radius : 5px;
	-webkit-border-radius : 5px;
	background-color : #575756;
	border-radius : 5px;
	color : #ffffff;
	font-family : Arial,sans-serif;
	font-size : 24px;
	padding : 0;
}

